body{
background-color:#FAFAD2 ;
}

.aidaImage{
    height:300px;
    width:300px;
    margin: auto;
    border: 3px ;
    padding: 1.5rem;
    border-radius: 25px;

}

.projectImages{
    width: 100%;
    padding: .5rem;
}

.aboutClass{
 padding: .5rem .1rem .1rem .1rem;
}